* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.date {
  text-align: left;
  margin: 10px;
}

.titles {
  background: #ddd2b7;
}

.title {
  display: inline-block;
  width: 33%;
  font-size: 12px;
}

.results {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.games-container {
  width: 100%;
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto 10px auto;
  border-bottom: solid 2px #ddd2b7;
}

.score {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.team-score {
  font-weight: 600;
}

.team-name {
  width: 33%;
}
